
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center; 
  }
  
  
  .table th {
    background-color: #3498db; 
    color: #fff; 
  }
  

  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
    
  }
  
 
  .table tbody tr:hover {
    background-color: #e0e0e0;
  }
  
  /* Styled table class for applying styles when clicking the change style button*/
  .styled-table {
    border: 12px solid #24a04d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
   
  }

  .styled-table th {
    background-color: #24a04d;
    color: #fff;
  }

  .styled-table tbody tr td:first-child {
    font-weight: bold; 
  }
  .styled-table thead tr th:hover {
    background-color: #1a753e; 
    color: #fff;
  }

  button {
    margin: 5px;
    padding: 10px 16px; 
    font-size: 16px; 
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
  }
  
 
  button:hover {
    background-color: #2077b4; 
  }



  .changeStyles .table {
  border: 2px solid #ff6347; 
  box-shadow: 0 0 10px rgba(255, 99, 71, 0.5);
}

.changeStyles .styled-table {
  border: 2px solid #ff6347;
  box-shadow: 0 0 10px rgba(255, 99, 71, 0.5); 
}


  